
/* overflow- The CSS overflow property controls what happens to content that is too big to fit into an area. */
.banner{
 border: 5px solid red;
padding: 10px ;
overflow: hidden;
}

img{
 float: left;
}


 .one{
  float: right;
  margin: 50px;
 }
 


